/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #f2cd4f
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #442b2a;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #f7efd8;
    border-radius: 20px;
    border: 3px 
  }